/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

/* Apply a basic box-sizing rule */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Set the base font size and family */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    background-image: url(./images/Background1.1.png);
    background-size: contain;
}

/* Style the header */
header {
    background-color: #000000; /* Light brown (khaki) */
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 0;
    text-align: center;
}

header h1 {
    color: #ffffff;
    font-size: 2rem;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;}

header li {
    float: left;
  }

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #111111;
  }

/* Style the main content area */
main {
    max-width: 1100px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.menu-item {
    border-bottom: 2px solid #1a1a1a;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.dish-name p {
    grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}

.price {
    text-align: right;
    grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;
}

.description p {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 0;
    grid-column-end: 2;
}

.menu-container {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-container h2 {
    background-color: #556b2f; /* Olive green */
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.menu-section {
    margin-bottom: 2rem;
}

.menu-section h3 {
    color: #556b2f; /* Olive green */
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #556b2f;
}

.menu-section h4 {
    color: #333;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.menu-section p {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    }

.description {
    border-bottom: 2px solid #1a1a1a;
}

/* Style the footer */
footer {
    background-color: #333333; /* Olive green */
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
    border-top: 1px solid #fff;
}

footer p {
    margin: 0.5rem 0;
}

/* Make the site responsive */
@media (max-width: 768px) {
    main {
        margin: 1rem;
        padding: 1rem;
    }

    footer {
        padding: 1rem;
    }
}